@use '../../styles/units';
@use '../../styles/colors';

.container {
  border-radius: units.$border-radius;

  // Generate all background colors
  @each $color, $_ in colors.$colors {
    &--color-#{$color} {
      background-color: #{colors.css-color($color)};
      --c: var(#{colors.css-var($color)});
    }
  }

  &--type {
    &-material {
      box-shadow: 0 0 2rem 1rem #{colors.css-color(
          --c,
          $opacity: 0.2,
          $raw: true
        )};
    }
  }
}
